# Prettyfi 
set colored-stats On
set colored-completion-prefix On

# Completion settings
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-display-width 0
set completion-query-items 1000

# ^C no longer shows on C-c keypress
set echo-control-characters off

# Command history search
"\e[A": history-search-backward
"\e[B": history-search-forward

# Move foreward/backward by word
"\e[1;5D": backward-word
"\e[1;5C": forward-word


# Bash Keybindings
"\C-f":"cd ~/.config/"
"\C-g":"cd ~/github-projects"
