* {
  font-family: Material Design Icons,  JetBrainsMono Nerd Font;
  font-size: 10px;
}

window#waybar {
  background-color: #131822;
  color: #ffffff;
  border-radius: 8px;
  border-width: 3px;
  border-color: #2a3141;
  border-style: solid;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

#workspaces,
#clock,
#tray,
#mode,
#custom-lock,
#idle_inhibitor,
#custom-powermenu,
#custom-launcher {
  border-radius: 8px 8px 8px 8px;
}
#cpu {
  color: #fa9f8e;
  border-radius: 8px 8px 8px 8px;
}

#memory {
  color: #b9fac2;
  border-radius: 8px 8px 8px 8px;
}
#memory,
#cpu {
  font-size: 16px;
}

@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces button {
	border: none;
	color:  #53859e;
  font-weight: bolder;
	padding: 3px;
	background: transparent;
	box-shadow: none;
}

#workspaces button.active {
	color:  #5d94af;
	background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%);
	animation: button_activate .2s ease-in-out;
}

#workspaces button.urgent {
	color:  #fa9f8e;	
	background: radial-gradient(circle, rgba(25, 79, 255, 0.3) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.persistent {
	color:  #7b7d64;
}

#workspaces button:hover {
	border: none;
	background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.active:hover, #workspaces button.urgent:hover {
	background: inherit;
}

#custom-launcher {
  margin-left: 10px;
  margin-right: 10px;

  padding-right: 5px;
  padding-left: 0px;

  font-size: 15px;

  color: #1793d1;

  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px 8px 8px 8px;
}

#workspaces,
#custom-ibus,
#clock,
#backlight,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#network {
  background-color: #2a3141;
  padding: 0em 2em;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  font-size: 13px;
}

#workspaces {
  padding-right: 10px;
}


#pulseaudio {
  color: #81A1C1;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
}

#pulseaudio.muted {
  color: #fb958b;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 0px 8px 8px 0px;
}

#backlight {
  color: #8a909e;
  padding-right: 5px;
  padding-left: 8px;
  font-size: 15px;
}

#network {
  padding-left: 0.2em;
  color: #5E81AC;
  border-radius: 8px 0px 0px 8px;
  padding-left: 12px;
  padding-right: 14px;
  font-size: 15px;
  margin-right: -5px;
}

#network.disconnected {
  color: #fb958b;
}

#battery {
  color: #8fbcbb;
  border-radius: 8px 8px 8px 8px;
  padding-right: 8px;
  padding-left: 7px;
  font-size: 14px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #91ffc3;
  padding-left: 6px;
  padding-right: 12px;
  font-size: 14px;
}

#battery.charging { 
  color: #87bb82;
  font-size: 14px;
  padding-right: 13px;
  padding-left: 8px;
}

#battery.full,
#battery.plugged {
  font-size: 14px;
  padding-right: 10px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-lock {
  color: #ecd3a0;
  padding: 0 15px 0 15px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#clock {
  color: #ffffff;
  font-family:  JetBrainsMono Nerd Font;
  font-size: 12px;
  font-weight: bolder;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

#custom-powermenu {
  color: #e78284;
  margin-right: 12px;
  border-radius: 8px;
  padding: 0 6px 0 6.8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

label:focus {
  background-color: #131822;
}

#tray {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 8px 8px 8px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #131822;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}


